Hardware
* Raspberry Pi B+ (x1)
* USB WiFi Dongle (x1)
* USB RJ45 Dongle (x1)
* USB Serial Console Cables (x2)
 - available from get-console.com
* 128GB microSD card (x1)

* Character LCD + buttons (optional)
 - important to note that this requires additional software/scripts to run that have not yet been added to JumPi

Software
* Raspbian
 - this comes with Python, which is required to run most of the scripts in JumPi
* BitTorrent Sync (ARM)
 - "btsync" will run program
 - visit localhost:8888 to configure


apt-get install (run install.py)
* python-pip
* python-dev
* screen
* mosh
* openswan

pip install (part of install.py)
* sh

Notes
* create config.py to prompt for this info
- update interface name in myIP.py
- update txt file paths in myIP.py (this needs to be the sync folder in BT Sync)
