Hardware
* Raspberry Pi B+ (x1)
* USB WiFi Dongle (x1)
* USB RJ45 Dongle (x1)
* 6" USB Extension Adapter Cable (x2 min)
 - necessary due to spacing of USB ports + bulk of console cables
* USB Serial Console Cables (x2)
 - available from get-console.com
* 128GB microSD card (x1)
* Micro USB cable
 - USB port on a router/switch/server should be enough to power the Pi
 - USB wall wort (optional)

* Character LCD + buttons (optional)
 - important to note that this requires additional software/scripts to run that have not yet been added to JumPi

Software
* Raspbian
 - this comes with Python, which is required to run most of the scripts in JumPi
* BitTorrent Sync (ARM)
 - visit localhost:8888 to configure

apt-get install (run install.py)
* python-pip
* python-dev
* screen
* mosh
* openswan
* openvpn

pip install (part of install.py)
* sh

Notes
* need to create config.py to prompt for this info - current set to defaults for Pi
- update interface name in myIP.py
- update txt file paths in myIP.py (this needs to be the sync folder in BT Sync)
